<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="keywords" content="微信企业号,企业号,腾讯企业号,QQ企业号,企业微信,微信企业,微信,微信办公,微信OA,weixin,wechat,工作,云平台,云,OA,CRM,EHR,ERP,SAAS,移动办公,企业移动化,连接企业,微信企业号申请,微信企业平台,微信公众号,微信公众平台,微信企业号功能,微信企业号登录,微信支付,公众平台,微信开放接口">
  <meta name="description" content="微信企业号，连接企业的另一种可能，是微信为企业用户提供的移动应用入口。">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon){ %>
    <link rel="shortcut icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('css/style') %>
</head>